[package]
name = "zip-extract"
version = "0.1.3"
authors = ["M*C*O <mcofficer@gmx.de>"]
edition = "2018"
license = "MIT"
description = "Archive extraction via zip-rs, automated."
repository = "https://github.com/MCOfficer/zip-extract"
keywords = ["zip", "archive", "extract"]
categories = ["compression"]

# Mirrors the features of zip package
# https://github.com/zip-rs/zip/blob/master/Cargo.toml#L36
[features]
aes-crypto = ["zip/aes-crypto"]
deflate = ["zip/deflate"]
deflate-miniz = ["zip/deflate-miniz"]
deflate-zlib = ["zip/deflate-zlib"]
unreserved = ["zip/unreserved"]
bzip2 = ["zip/bzip2"]
time = ["zip/time"]
zstd = ["zip/zstd"]
default = ["aes-crypto", "bzip2", "deflate", "zstd"]

[dependencies]
log = "0.4.20"
zip = { version = "1.3.1", default_features = false }
thiserror = "1.0"

[dev-dependencies]
cute-log = { version = "2.0.7", default_features = false }
dir-diff = "0.3.3"
tempfile = "3.9.0"
